In [1]:
import pandas as pd

from octoflow.tracking.models import Experiment

In [2]:
expr = Experiment("./logs", name="sentiment_classification")

In [3]:
expr.cleanup("sample_run")

[PosixPath('logs/sentiment_classification/runs/sample_run-v1')]

In [4]:
run = expr.start_run("sample_run")

In [5]:
run.state = "running"

In [6]:
for epoch in range(5):
    epoch_step_id = run.log_param("epoch", epoch)
    for batch in range(2):
        batch_step_id = run.log_param("batch", batch, step=epoch_step_id)
        run.log_metric("train_loss", 0.344 * (batch + 1), step=batch_step_id)
        run.log_metric("train_acc", 0.1 * (batch + 1), step=batch_step_id)
    run.log_metric("f1_sore", 0.344, step=epoch_step_id)

run.log_metric("f1_sore", 0.5)

41

In [7]:
run.log_artifact("test_results", {"f1_score": 0.55})

In [8]:
run.get_artifact("test_results")

{'f1_score': 0.55}

In [9]:
run.log_artifact("test_results_df", pd.DataFrame({"f1_score": [0.56]}))

In [10]:
test_results_df = run.get_artifact("test_results_df")

test_results_df

   f1_score
0      0.56

In [18]:
values = run.get_values()

values

                                               epoch  f1_sore
0  {0: {'batch': {0: {'train_loss': 0.344, 'train...      0.5

In [13]:
values = run.get_values("f1_sore")

values

   f1_sore
0      0.5

In [14]:
values = run.get_values("epoch")

values

                                               epoch
0  {0: {'batch': {0: {'train_loss': 0.344, 'train...

In [17]:
values = run.get_values("epoch.batch")

values

                                               batch  epoch
0  {0: {'train_loss': 0.344, 'train_acc': 0.1}, 1...      0
1  {0: {'train_loss': 0.344, 'train_acc': 0.1}, 1...      1
2  {0: {'train_loss': 0.344, 'train_acc': 0.1}, 1...      2
3  {0: {'train_loss': 0.344, 'train_acc': 0.1}, 1...      3
4  {0: {'train_loss': 0.344, 'train_acc': 0.1}, 1...      4

In [25]:
values = run.get_values("epoch.batch.train_loss")
#  run.get_values("epoch.batch.train_acc")

values

   train_loss  batch  epoch
0       0.344      0      0
1       0.688      1      0
2       0.344      0      1
3       0.688      1      1
4       0.344      0      2
5       0.688      1      2
6       0.344      0      3
7       0.688      1      3
8       0.344      0      4
9       0.688      1      4

In [26]:
values = run.get_values("epoch.batch.train_acc")

values

   train_acc  batch  epoch
0        0.1      0      0
1        0.2      1      0
2        0.1      0      1
3        0.2      1      1
4        0.1      0      2
5        0.2      1      2
6        0.1      0      3
7        0.2      1      3
8        0.1      0      4
9        0.2      1      4