In [1]:
import pandas as pd

from octoflow.tracking.models import Experiment

In [5]:
expr = Experiment("./logs", name="sentiment-classification")

In [6]:
expr.cleanup("sample_run")

[]

In [4]:
run = expr.start_run("sample_run")

In [5]:
run.state = "running"

In [6]:
run.log_param("dataset_path.@args", ["some/path/here"])

for epoch in range(5):
    epoch_step_id = run.log_param("train.epoch", epoch)
    for batch in range(2):
        batch_step_id = run.log_param("train.batch", batch, step=epoch_step_id)
        run.log_metric("train.loss", 0.344 * (batch + 1), step=batch_step_id)
        run.log_metric("train.acc", 0.1 * (batch + 1), step=batch_step_id)
    run.log_metric("train.acc", 0.344, step=epoch_step_id)
    run.log_metrics({
        "train": {
            "precision": 0.53,
            "recall": 0.44,
            "f1_score": 0.4,
        }
    }, step=epoch_step_id)

run.log_metric("valid.f1_sore", 0.5)

57

In [7]:
run.log_artifact("test_results", {"f1_score": 0.55})

In [8]:
run.get_artifact("test_results")

{'f1_score': 0.55}

In [9]:
run.log_artifact("test_results_df", pd.DataFrame({"f1_score": [0.56]}))

In [10]:
test_results_df = run.get_artifact("test_results_df")

test_results_df

   f1_score
0      0.56

In [11]:
values = run.get_values()

values["dataset_path.@args"].iloc[0]

['some/path/here']

In [20]:
values = run.get_values("valid\\.f1_sore")

type(values.iloc[0, 0])

numpy.float64

In [13]:
values = run.get_values("train\\.epoch")

values

                                         train.epoch
0  {0: {'train.batch': {0: {'train.loss': 0.344, ...

In [14]:
values = run.get_values("train\\.epoch.train\\.batch")

values

                                         train.batch  train.epoch
0  {0: {'train.loss': 0.344, 'train.acc': 0.1}, 1...            0
1  {0: {'train.loss': 0.344, 'train.acc': 0.1}, 1...            1
2  {0: {'train.loss': 0.344, 'train.acc': 0.1}, 1...            2
3  {0: {'train.loss': 0.344, 'train.acc': 0.1}, 1...            3
4  {0: {'train.loss': 0.344, 'train.acc': 0.1}, 1...            4

In [15]:
values = run.get_values(("train.epoch", "train.batch"))

values

                                         train.batch  train.epoch
0  {0: {'train.loss': 0.344, 'train.acc': 0.1}, 1...            0
1  {0: {'train.loss': 0.344, 'train.acc': 0.1}, 1...            1
2  {0: {'train.loss': 0.344, 'train.acc': 0.1}, 1...            2
3  {0: {'train.loss': 0.344, 'train.acc': 0.1}, 1...            3
4  {0: {'train.loss': 0.344, 'train.acc': 0.1}, 1...            4

In [16]:
values = run.get_values("train\\.epoch.train\\.precision")

values

   train.precision  train.epoch
0             0.53            0
1             0.53            1
2             0.53            2
3             0.53            3
4             0.53            4

In [17]:
values = run.get_values("train\\.epoch.train\\.batch.train\\.loss")

values

   train.loss  train.batch  train.epoch
0       0.344            0            0
1       0.688            1            0
2       0.344            0            1
3       0.688            1            1
4       0.344            0            2
5       0.688            1            2
6       0.344            0            3
7       0.688            1            3
8       0.344            0            4
9       0.688            1            4

In [18]:
values = run.get_values("train\\.epoch.train\\.batch.train\\.acc")

values

   train.acc  train.batch  train.epoch
0        0.1            0            0
1        0.2            1            0
2        0.1            0            1
3        0.2            1            1
4        0.1            0            2
5        0.2            1            2
6        0.1            0            3
7        0.2            1            3
8        0.1            0            4
9        0.2            1            4